<div class="card">
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center ">Hackathon</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 125,653</small>

        <h5 class="mt-1"> How to challenge</h5>
        <p>Challenge here</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2024 </small>
    </div>
</div>
