.card {
    background-color: var(--secondary-color);
    width: 90vw;
    border: none;
  }
 
  .btn-theme{
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    
  }
 

  .subs-text {
    width: 500px;
  }
  